$theme-colors: (
  "primary": hsl(228, 28, 20, 100%),
  "secondary": hsl(35, 100, 58, 100%),
  "success": hsl(0, 0, 45, 100%),
  "info": hsl(190, 100, 38, 100%),
);

//BOTONES
$btn-border-radius: 10px;

//LA NAVEGACION
$navbar-light-color: black;
$navbar-light-toggler-border-color: none;
$navbar-toggler-focus-width: 0;

@import "../node_modules/bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  color: hsl(228, 28, 20, 100%);
}

body {
  font-family: "Montserrat", sans-serif;
  color: hsl(0, 0, 45, 100%);
  font-weight: 400;
  background: rgb(213, 227, 238);
}

/*Botones circulares*/
.rounded-circle {
  width: 50px;
  height: 50px;
}

@media (min-width: 992px) {
  /*Position absolute*/
  .position-lg-absolute {
    position: absolute;
  }
  .w-lg-70 {
    width: 70% !important;
  }
}

@media (min-width: 1200px) {
  /*Imagenes*/
  .img-xl-fluid {
    width: 100%;
    height: 780px;
    object-fit: cover;
  }
}
.primario {
  /*Primary*/
  color: hsl(228, 28, 20, 100%);
  color: hsl(35, 100, 58, 100%);
  color: hsl(0, 0, 45, 100%);
  color: hsl(190, 100, 38, 100%);
}
